<div class="modal_background">
    <div class="modal_block">
        <div class="modal_img_block"><img src="{{filmImgLink}}" alt="No poster for this film" class="modal_img"><p class="modal_vote">{{filmVote}}</p></div>
        {{!-- весь текст --}}
        <div class="modal_description_block">
            <h3 class="modal_film_title">{{filmTitle}}</h3>
            <div class="modal_overview_block">
                <p class="modal_overview_text">{{filmOverview}}</p>
            </div>
            <div class="modal_details_block">
                <table class="modal_table">
                    <tr>
                        {{!-- genresWord что-бы можно было удалить --}}
                        <th>{{genresWord}}</th>
                        <th>{{filmGenres}}</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>
        <button class="modal_cross">X</button>
        <button class="add_to_favorites_btn">like it</button>
    </div>
</div>